---
layout: default
title: Coders for Causes
description: Student Developers for Charities and Not-For-Profits
---


<!-- Wrapper -->
	<section id="wrapper">
		<!-- One -->
			<section id="one" class="wrapper spotlight style1">
				<div class="inner">
					<a target="_blank" href="https://github.com/codersforcauses/Ignite-Mentoring" class="image"><img src="images/ignite_mentoring.jpeg" alt="" /></a>
					<div class="content">
						<h2 class="major">Ignite Mentoring Pairer</h2>
						<p>A cross platform application to help <a href="http://www.ignitementoring.org/">Ignite Mentoring</a> pair together individuals for their events taking
							into consideration such attributes as experience, location, language, gender
						 	etc. Matching algorithm is base off stable marriage principle.</p>
						<a target="_blank" href="https://github.com/codersforcauses/Ignite-Mentoring/blob/master/Help.pdf" class="special">Learn more</a>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper alt spotlight style2">
				<div class="inner">
					<a target="_blank" href="https://volunteertutorexchange.com/" class="image"><img src="images/volunteer_tutor_exchange.png" alt="" /></a>
					<div class="content">
						<h2 class="major">Volunteer Tutor Exchange</h2>
						<p>A website built on <a href="https://angularjs.org/">Angular JS</a>
							to pair experienced tutors with students who need help. This site was
							created in partnership with UWA guild volunteering so tutors also
							get volunteering hours added to academic transcipt.
						</p>
						<a target="_blank" href="https://volunteertutorexchange.com/#!/about" class="special">Learn more</a>
					</div>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper spotlight style3">
				<div class="inner">
					<a target="_blank" href="https://github.com/codersforcauses/guild-volunteering" class="image"><img src="images/guild_volunteering.png" alt="" /></a>
					<div class="content">
						<h2 class="major">Guild Volunteering Logbooks</h2>
						<p>An alternative to <a target="_blank" href="http://www.volunteering.guild.uwa.edu.au/">Guild Volunteering's</a> physical logbooks.
							By making logbooks electronic it allows for easier access,
							searching and storage, making everyone's experience more pleasent
							when dealing with the logbooks.
						</p>
						<a target="_blank" href="https://github.com/codersforcauses/guild-volunteering" class="special">Learn more</a>
					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper alt style1">
				<div class="inner">
					<h2 class="major">Hackathon</h2>
					<p>
						An annual event held by Coders for Causes where students from all disciplines
						come together to hack together some sort of solution for a not-for-profit
						organisation over the course of two days.
					</p>
					<section class="features">
						{% for image in site.static_files %}
							{% if image.path contains 'hackathon_2017' %}
							<article>
								<img class="image" src="{{ site.baseurl }}{{ image.path }}">
							</article>
							{% endif %}
						{% endfor %}
						<!-- <article>
							<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
							<h3 class="major">Sed feugiat lorem</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
							<a href="#" class="special">Learn more</a>
						</article>
						<article>
							<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
							<h3 class="major">Nisl placerat</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
							<a href="#" class="special">Learn more</a>
						</article>
						<article>
							<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
							<h3 class="major">Ante fermentum</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
							<a href="#" class="special">Learn more</a>
						</article>
						<article>
							<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
							<h3 class="major">Fusce consequat</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
							<a href="#" class="special">Learn more</a>
						</article> -->
					</section>
					<ul class="actions">
						<li><a onclick="resume_infinite_scroll()" class="button">Browse All</a></li>
					</ul>
				</div>
			</section>

		</section> <!-- End wrapper -->
